.team {
    margin-bottom: 7rem;
}

.team__container-img {
    margin-top: 1rem;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 2rem calc(1rem - 10px);
    width: 100%;
}

.team__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team__img {
    max-width: 80px;
}

.team__title {
    margin: 1rem 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    font-family: var(--thd-font);
    white-space: nowrap;
}

.team__text {
    font-family: var(--thd-font);
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: var(--purple);
}


@media screen and (min-width: 768px) {

    .team__container-img {
        display: flex;
        justify-content: space-around;
    }    

    .team__title {
        font-family: var(--font);
        margin: 1rem 0;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }
}